table {
	border-collapse: collapse;
	box-shadow: 8px 8px 8px;
	background: linear-gradient(50deg, #545454, #bfbfbf, #ebebeb, #f5f5f5);
}

th, td {
	padding: 15px;
}

th {
	background: linear-gradient(45deg, #000000, #333333, #13131a, #8a8888, #adadad, #19192b, #38386e);
}

tr, td {
	
}